name: nhctl

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]
  workflow_dispatch:

jobs:

  build-nhctl-windows-linux:
    needs: [build-syncthing-linux-amd64, build-syncthing-macos-windows]
    name: Build nhctl
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.16

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Build
        run: |
          make nhctl-linux
          make nhctl-windows

      - name: Push to Coding Artifacts
        if: ${{ github.repository == 'nocalhost/nocalhost' }}
        env:
          WINDOWS_BINARY: 'nhctl-windows-amd64.exe'
          LINUX_BINARY: 'nhctl-linux-amd64'
        run: |
          cd build
          curl -T ${WINDOWS_BINARY} -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/nhctl/${WINDOWS_BINARY}?version=${GITHUB_SHA}"
          curl -T ${LINUX_BINARY} -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/nhctl/${LINUX_BINARY}?version=${GITHUB_SHA}"

      - name: Push to Coding Artifacts
        if: ${{ github.ref == 'refs/heads/main' && github.repository == 'nocalhost/nocalhost' }}
        env:
          WINDOWS_BINARY: 'nhctl-windows-amd64.exe'
          LINUX_BINARY: 'nhctl-linux-amd64'
        run: |
          cd build
          curl -T ${WINDOWS_BINARY} -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/nhctl/${WINDOWS_BINARY}?version=main"
          curl -T ${LINUX_BINARY} -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/nhctl/${LINUX_BINARY}?version=main"

      - name: Push to Coding Artifacts
        if: ${{ github.ref == 'refs/heads/dev' && github.repository == 'nocalhost/nocalhost' }}
        env:
          WINDOWS_BINARY: 'nhctl-windows-amd64.exe'
          LINUX_BINARY: 'nhctl-linux-amd64'
        run: |
          cd build
          curl -T ${WINDOWS_BINARY} -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/nhctl/${WINDOWS_BINARY}?version=dev"
          curl -T ${LINUX_BINARY} -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/nhctl/${LINUX_BINARY}?version=dev"

  build-nhctl-macos:
    needs: build-syncthing-macos-windows
    name: Build nhctl
    runs-on: macos-10.15
    steps:

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.16

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Build
        run: make nhctl-osx

      - name: Push to Coding Artifacts
        if: ${{ github.repository == 'nocalhost/nocalhost' }}
        env:
          OSX_BINARY: 'nhctl-darwin-amd64'
        run: |
          cd build
          curl -T ${OSX_BINARY} -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/nhctl/${OSX_BINARY}?version=${GITHUB_SHA}"

      - name: Push to Coding Artifacts
        if: ${{ github.ref == 'refs/heads/main' && github.repository == 'nocalhost/nocalhost' }}
        env:
          OSX_BINARY: 'nhctl-darwin-amd64'
        run: |
          cd build
          curl -T ${OSX_BINARY} -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/nhctl/${OSX_BINARY}?version=main"

      - name: Push to Coding Artifacts
        if: ${{ github.ref == 'refs/heads/dev' && github.repository == 'nocalhost/nocalhost' }}
        env:
          OSX_BINARY: 'nhctl-darwin-amd64'
        run: |
          cd build
          curl -T ${OSX_BINARY} -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/nhctl/${OSX_BINARY}?version=dev"

  build-syncthing-linux-amd64:
    name: Build syncthing amd64
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.16

      - name: Checkout syncthing
        uses: actions/checkout@v2.3.4
        with:
          repository: nocalhost/syncthing
          path: ./syncthing-source
          ref: dev

      - name: Build syncthing-amd64
        working-directory: ./syncthing-source
        run: go run build.go -nocalhostVersion=dev -nocalhostCommitId="${GITHUB_SHA}" -goarch amd64 tar

      - name: Push to Coding Articact
        working-directory: ./syncthing-source
        run: |
          curl -T syncthing-linux-amd64.tar.gz -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/syncthing/syncthing-linux-amd64.tar.gz?version=${GITHUB_SHA}"

  build-syncthing-macos-windows:
    name: Build syncthing macos windows
    runs-on: macos-latest
    steps:

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.16

      - name: Checkout syncthing
        uses: actions/checkout@v2.3.4
        with:
          repository: nocalhost/syncthing
          path: ./syncthing-source
          ref: dev

      - name: Build syncthing
        working-directory: ./syncthing-source
        run: |
          go run build.go -nocalhostVersion=dev -nocalhostCommitId="${GITHUB_SHA}" -goarch amd64 zip
          go run build.go -nocalhostVersion=dev -nocalhostCommitId="${GITHUB_SHA}" -goos=windows -goarch amd64 zip
          go run build.go -nocalhostVersion=dev -nocalhostCommitId="${GITHUB_SHA}" -goarch arm64 zip

      - name: Push to Coding Articact
        working-directory: ./syncthing-source
        run: |
          curl -T syncthing-macos-amd64.zip -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/syncthing/syncthing-macos-amd64.zip?version=${GITHUB_SHA}"
          curl -T syncthing-windows-amd64.zip -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/syncthing/syncthing-windows-amd64.zip?version=${GITHUB_SHA}"
          curl -T syncthing-macos-arm64.zip -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/syncthing/syncthing-macos-arm64.zip?version=${GITHUB_SHA}"
