name: nhctl

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]
  workflow_dispatch:

jobs:

  build-nhctl-windows-linux:
    needs: [ build-syncthing-linux, build-syncthing-macos-windows ]
    name: Build nhctl
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: 1.16.7

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Get synchting macos and windows cache
        uses: actions/download-artifact@v2
        with:
          name: synchthing-macos-windows-cache-${GITHUB_SHA}
          path: ./

      - name: Get synchting linux cache
        uses: actions/download-artifact@v2
        with:
          name: synchthing-linux-cache-${GITHUB_SHA}
          path: ./

      - name: Build
        run: |
          export GITHUB_ACTION=true
          make nhctl-linux
          make nhctl-windows
          make nhctl-linux-arm64

      - name: Push to Coding Artifacts
        if: ${{ github.repository == 'nocalhost/nocalhost' }}
        env:
          WINDOWS_BINARY: 'nhctl-windows-amd64.exe'
          LINUX_BINARY: 'nhctl-linux-amd64'
          LINUX_ARM64_BINARY: 'nhctl-linux-arm64'
        run: |
          cd build
          curl -T ${WINDOWS_BINARY} -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/nhctl/${WINDOWS_BINARY}?version=${GITHUB_SHA}" --retry 5
          curl -T ${LINUX_BINARY} -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/nhctl/${LINUX_BINARY}?version=${GITHUB_SHA}" --retry 5
          curl -T ${LINUX_ARM64_BINARY} -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/nhctl/${LINUX_ARM64_BINARY}?version=${GITHUB_SHA}" --retry 5

      - name: Push to Coding Artifacts
        if: ${{ github.ref == 'refs/heads/main' && github.repository == 'nocalhost/nocalhost' }}
        env:
          WINDOWS_BINARY: 'nhctl-windows-amd64.exe'
          LINUX_BINARY: 'nhctl-linux-amd64'
          LINUX_ARM64_BINARY: 'nhctl-linux-arm64'
        run: |
          cd build
          curl -T ${WINDOWS_BINARY} -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/nhctl/${WINDOWS_BINARY}?version=main" --retry 5
          curl -T ${LINUX_BINARY} -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/nhctl/${LINUX_BINARY}?version=main" --retry 5
          curl -T ${LINUX_ARM64_BINARY} -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/nhctl/${LINUX_ARM64_BINARY}?version=main" --retry 5

      - name: Push to Coding Artifacts
        if: ${{ github.ref == 'refs/heads/dev' && github.repository == 'nocalhost/nocalhost' }}
        env:
          WINDOWS_BINARY: 'nhctl-windows-amd64.exe'
          LINUX_BINARY: 'nhctl-linux-amd64'
          LINUX_ARM64_BINARY: 'nhctl-linux-arm64'
        run: |
          cd build
          curl -T ${WINDOWS_BINARY} -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/nhctl/${WINDOWS_BINARY}?version=dev" --retry 5
          curl -T ${LINUX_BINARY} -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/nhctl/${LINUX_BINARY}?version=dev" --retry 5
          curl -T ${LINUX_ARM64_BINARY} -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/nhctl/${LINUX_ARM64_BINARY}?version=dev" --retry 5

  build-nhctl-macos:
    needs: build-syncthing-macos-windows
    name: Build nhctl
    runs-on: macos-11
    steps:

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: 1.16.7

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Get synchting macos and windows cache
        uses: actions/download-artifact@v2
        with:
          name: synchthing-macos-windows-cache-${GITHUB_SHA}
          path: ./

      - name: Build
        run: |
          export GITHUB_ACTION=true
          make nhctl-osx
          make nhctl-osx-arm64

      - name: Push to Coding Artifacts
        if: ${{ github.repository == 'nocalhost/nocalhost' }}
        env:
          OSX_BINARY: 'nhctl-darwin-amd64'
          OSX_ARM64_BINARY: 'nhctl-darwin-arm64'
        run: |
          cd build
          curl -T ${OSX_BINARY} -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/nhctl/${OSX_BINARY}?version=${GITHUB_SHA}" --retry 5
          curl -T ${OSX_ARM64_BINARY} -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/nhctl/${OSX_ARM64_BINARY}?version=${GITHUB_SHA}" --retry 5

      - name: Push to Coding Artifacts
        if: ${{ github.ref == 'refs/heads/main' && github.repository == 'nocalhost/nocalhost' }}
        env:
          OSX_BINARY: 'nhctl-darwin-amd64'
          OSX_ARM64_BINARY: 'nhctl-darwin-arm64'
        run: |
          cd build
          curl -T ${OSX_BINARY} -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/nhctl/${OSX_BINARY}?version=main" --retry 5
          curl -T ${OSX_ARM64_BINARY} -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/nhctl/${OSX_ARM64_BINARY}?version=main" --retry 5

      - name: Push to Coding Artifacts
        if: ${{ github.ref == 'refs/heads/dev' && github.repository == 'nocalhost/nocalhost' }}
        env:
          OSX_BINARY: 'nhctl-darwin-amd64'
          OSX_ARM64_BINARY: 'nhctl-darwin-arm64'
        run: |
          cd build
          curl -T ${OSX_BINARY} -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/nhctl/${OSX_BINARY}?version=dev" --retry 5
          curl -T ${OSX_ARM64_BINARY} -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/nhctl/${OSX_ARM64_BINARY}?version=dev" --retry 5

  build-syncthing-linux:
    name: Build syncthing amd64&arm64
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: 1.16.7

      - name: Checkout syncthing
        uses: actions/checkout@v2.3.4
        with:
          repository: nocalhost/syncthing
          path: ./syncthing-source
          ref: dev

      - name: Build syncthing-amd64
        working-directory: ./syncthing-source
        run: |
          go run build.go -nocalhostVersion=dev -nocalhostCommitId="${GITHUB_SHA}" -goarch amd64 tar
          go run build.go -nocalhostVersion=dev -nocalhostCommitId="${GITHUB_SHA}" -goarch arm64 tar

      - name: Push to Coding Articact
        working-directory: ./syncthing-source
        run: |
          curl -T syncthing-linux-amd64.tar.gz -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/syncthing/syncthing-linux-amd64.tar.gz?version=${GITHUB_SHA}" --retry 5
          curl -T syncthing-linux-arm64.tar.gz -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/syncthing/syncthing-linux-arm64.tar.gz?version=${GITHUB_SHA}" --retry 5

      - name: Upload linux syncthing to artifact
        uses: actions/upload-artifact@v2
        with:
          path: |
            ./syncthing-source/syncthing-linux-amd64.tar.gz
            ./syncthing-source/syncthing-linux-arm64.tar.gz
          name: synchthing-linux-cache-${GITHUB_SHA}

  build-syncthing-macos-windows:
    name: Build syncthing macos windows
    runs-on: macos-11
    steps:

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: 1.16.7

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '12.4.0'

      - name: Checkout syncthing
        uses: actions/checkout@v2.3.4
        with:
          repository: nocalhost/syncthing
          path: ./syncthing-source
          ref: dev

      - name: Build syncthing
        working-directory: ./syncthing-source
        env:
          ARCHFLAGS: "-arch x86_64"
        run: |
          ./build.sh artifact mac-arm64 dev ${GITHUB_SHA}
          go run build.go -nocalhostVersion=dev -nocalhostCommitId="${GITHUB_SHA}" -goarch amd64 zip
          go run build.go -nocalhostVersion=dev -nocalhostCommitId="${GITHUB_SHA}" -goos=windows -goarch amd64 zip
          go run build.go -gocmd ./xgo.sh -nocalhostVersion=dev -nocalhostCommitId="${GITHUB_SHA}" -goarch arm64 zip

      - name: Push to Coding Articact
        working-directory: ./syncthing-source
        run: |
          curl -T syncthing-macos-amd64.zip -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/syncthing/syncthing-macos-amd64.zip?version=${GITHUB_SHA}" --retry 5
          curl -T syncthing-windows-amd64.zip -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/syncthing/syncthing-windows-amd64.zip?version=${GITHUB_SHA}" --retry 5
          curl -T syncthing-macos-arm64.zip -u ${{ secrets.CODING_ARTIFACTS_USER }}:${{ secrets.CODING_ARTIFACTS_PASS }} "https://nocalhost-generic.pkg.coding.net/nocalhost/syncthing/syncthing-macos-arm64.zip?version=${GITHUB_SHA}" --retry 5

      - name: Update macos and windows synchting to artifact
        uses: actions/upload-artifact@v2
        with:
          path: |
            ./syncthing-source/syncthing-macos-amd64.zip
            ./syncthing-source/syncthing-windows-amd64.zip
            ./syncthing-source/syncthing-macos-arm64.zip
          name: synchthing-macos-windows-cache-${GITHUB_SHA}

