name: test

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]
  workflow_dispatch:
  workflow_run:
    workflows: [ "release" ]
    types: [ completed ]

jobs:
  image:
    runs-on: ubuntu-latest
    steps:
      - name: Waiting for images to be ready
        timeout-minutes: 60
        run: |
          COMMIT_ID=${GITHUB_SHA}
          ProjectId=${{ secrets.coding_project_id }}
          Token=${{ secrets.CODING_PERSONAL_KEY }}
          while true; do
            url='https://nocalhost-generic.pkg.coding.net/nocalhost/nhctl/nhctl-linux-amd64?version='$COMMIT_ID''
            echo "url: ""$url"
            a=$(curl -s "$url") || true
            echo "response: ""$a"
            if [[ $a =~ "File not found" ]]; then
              sleep 5
            else
              break
            fi
          done
          function wait() {
            Action=$1
            Repository=$2
            Package=$3
            PackageVersion=$4
            while true; do
              res=$(curl -X POST -s 'https://nocalhost.coding.net/open-api' \
                --header 'Authorization: token '$Token'' \
                --header 'Content-Type: text/plain' \
                --data-raw '{
                "Action": "'"$Action"'",
                "ProjectId": '$ProjectId',
                "Repository": "'"$Repository"'",
                "Package": "'"$Package"'",
                "PackageVersion": "'"$PackageVersion"'"
              }') || true
              echo "wait for package: ""$Package"" version: ""$PackageVersion"
              echo "response: ""$res"
              if [[ $res =~ "InstanceSet" ]]; then
                break
              else
                sleep 5
              fi
            done
          }
          echo 'wait for nocalhost-api'
          wait "DescribeArtifactProperties" "public" "nocalhost-api" $COMMIT_ID
          echo 'wait for nocalhost-dep'
          wait "DescribeArtifactProperties" "public" "nocalhost-dep" $COMMIT_ID
  linux:
    runs-on: ubuntu-latest
    needs: [ "image" ]
    steps:
      - uses: actions/checkout@master
        timeout-minutes: 10
      - uses: actions/setup-go@v2
        with:
          go-version: '1.16.7'
      - run: go version
      - name: git tag
        timeout-minutes: 10
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        run: |
          git fetch --prune --unshallow --tags
          TAG=$(git tag -l --sort=v:refname | tail -2 | xargs)
          echo $TAG
          echo "RELEASE_VERSION=${TAG}" >> $GITHUB_ENV
        shell: bash
      - name: Kubectl tool installer
        uses: Azure/setup-kubectl@v1
      - name: Helm tool installer
        uses: Azure/setup-helm@v1
      - name: Testing
        run: |
          export TAG="${{ env.RELEASE_VERSION }}"
          export COMMIT_ID=${GITHUB_SHA}
          export TKE_SECRET_ID=${{ secrets.TKE_SECRET_ID }}
          export TKE_SECRET_KEY=${{ secrets.TKE_SECRET_KEY }}
          export TIMEOUT_WEBHOOK=${{ secrets.TIMEOUT_WEBHOOK }}
          export TESTCASE_WEBHOOK=${{ secrets.TESTCASE_WEBHOOK }}
          export HELM_REPO_USERNAME=${{ secrets.HELM_REPO_USERNAME }}
          export HELM_REPO_PASSWORD=${{ secrets.HELM_REPO_PASSWORD }}
          export DISABLE_SPINNER=true
          cd test
          go build
          ./test
  macos:
    runs-on: macos-latest
    needs: [ "image" ]
    steps:
      - uses: actions/checkout@master
        timeout-minutes: 10
      - uses: actions/setup-go@v2
        with:
          go-version: '1.16.7'
      - run: go version
      - name: git tag
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        timeout-minutes: 10
        run: |
          git fetch --prune --unshallow --tags
          TAG=$(git tag -l --sort=v:refname | tail -2 | xargs)
          echo $TAG
          echo "RELEASE_VERSION=${TAG}" >> $GITHUB_ENV
        shell: bash
      - name: Kubectl tool installer
        uses: Azure/setup-kubectl@v1
      - name: Helm tool installer
        uses: Azure/setup-helm@v1
      - name: Testing
        shell: bash
        run: |
          export TAG="${{ env.RELEASE_VERSION }}"
          export COMMIT_ID=${GITHUB_SHA}
          export TKE_SECRET_ID=${{ secrets.TKE_SECRET_ID }}
          export TKE_SECRET_KEY=${{ secrets.TKE_SECRET_KEY }}
          export TIMEOUT_WEBHOOK=${{ secrets.TIMEOUT_WEBHOOK }}
          export TESTCASE_WEBHOOK=${{ secrets.TESTCASE_WEBHOOK }}
          export HELM_REPO_USERNAME=${{ secrets.HELM_REPO_USERNAME }}
          export HELM_REPO_PASSWORD=${{ secrets.HELM_REPO_PASSWORD }}
          export DISABLE_SPINNER=true
          cd test
          go build
          ./test
  windows:
    runs-on: windows-latest
    needs: [ "image" ]
    steps:
      - uses: actions/checkout@master
        timeout-minutes: 10
      - uses: actions/setup-go@v2
        with:
          go-version: '1.16.7'
      - run: go version
      - name: git tag
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        timeout-minutes: 10
        run: |
          git fetch --prune --unshallow --tags
          TAG=$(git tag -l --sort=v:refname | tail -2 | xargs)
          echo $TAG
          echo "RELEASE_VERSION=${TAG}" >> $GITHUB_ENV
        shell: bash
      - name: Kubectl tool installer
        uses: Azure/setup-kubectl@v1
      - name: Helm tool installer
        uses: Azure/setup-helm@v1
      - name: Testing
        shell: bash
        run: |
          echo ${{ env.RELEASE_VERSION }}
          export TAG="${{ env.RELEASE_VERSION }}"
          export COMMIT_ID=${GITHUB_SHA}
          export TKE_SECRET_ID=${{ secrets.TKE_SECRET_ID }}
          export TKE_SECRET_KEY=${{ secrets.TKE_SECRET_KEY }}
          export TIMEOUT_WEBHOOK=${{ secrets.TIMEOUT_WEBHOOK }}
          export TESTCASE_WEBHOOK=${{ secrets.TESTCASE_WEBHOOK }}
          export HELM_REPO_USERNAME=${{ secrets.HELM_REPO_USERNAME }}
          export HELM_REPO_PASSWORD=${{ secrets.HELM_REPO_PASSWORD }}
          export DISABLE_SPINNER=true
          cd test
          go build
          ./test

#  minikube-linux:
#    runs-on: ubuntu-latest
#    needs: [ "image" ]
#    steps:
#      - uses: actions/checkout@master
#        timeout-minutes: 10
#      - uses: actions/setup-go@v2
#        with:
#          go-version: '1.16.7'
#      - run: go version
#      - name: git tag
#        timeout-minutes: 10
#        if: ${{ github.event.workflow_run.conclusion == 'success' }}
#        run: |
#          git fetch --prune --unshallow --tags
#          TAG=$(git tag -l --sort=v:refname | tail -2 | xargs)
#          echo $TAG
#          echo "RELEASE_VERSION=${TAG}" >> $GITHUB_ENV
#        shell: bash
#      - name: Setup Minikube
#        timeout-minutes: 30
#        uses: medyagh/setup-minikube@master
#      - name: Sleep 180 seconds waiting for minikube ready
#        run: sleep 180
#      - name: Kubernetes info
#        timeout-minutes: 5
#        run: |
#          kubectl cluster-info
#          kubectl get pods -n kube-system
#          cat ~/.kube/config
#          ls -lah ~/.kube/config
#      - name: Testing
#        run: |
#          export TAG="${{ env.RELEASE_VERSION }}"
#          export COMMIT_ID=${GITHUB_SHA}
#          export KUBECONFIG_PATH=/home/runner/.kube/config
#          export TESTCASE_WEBHOOK=${{ secrets.TESTCASE_WEBHOOK }}
#          cd test
#          go build
#          ./test
